.MovieListItem {
  background-color: rgb(164, 223, 147);
  box-shadow: 0px 1px 3px 0px rgba(187, 190, 9, 0.2),
    0px 1px 1px 0px rgba(104, 247, 10, 0.14),
    0px 2px 1px -1px rgba(7, 68, 5, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 3%;
}

.Link {
  color: rgb(54, 53, 20);
  text-decoration: none;
}

.MovieListItem_image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 3%;
}

.MovieListItem:hover {
  box-shadow: 1px 2px 4px 1px rgba(10, 228, 10, 0.2);
  transform: scale(1.03);
  cursor: zoom-in;
}

.MovieListTitle {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
